

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create New Currency</title>
</head>

<body>
<h2>Create New Currency</h2>

<form method="post" asp-action="Create" asp-controller="Currency">
    <p>
        <label>Name:</label>
        <input type="text" name="currency" placeholder="e.g., USD" required />
    </p>

    <p>
        <label>ExchangeRate:</label>
        <input type="text" name="exchangeRate" placeholder="e.g., 1,9594" required />
    </p>

    <button type="submit">Create</button>
</form>

<div>
    @if (!ViewData.ModelState.IsValid)
    {
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    }
</div>

</body>

</html>
