

@{
    Layout = null;
}
@model List<AccountServiceModel>

<!DOCTYPE html>

<html>
<head>
    <title>Bank Account</title>
</head>
<body>

<p1>this is probably working</p1>

@foreach (var account in Model)
{
    <p>@account.Type, @account.Balance</p>
}


</body>
</html>