
@model IEnumerable<Credit>

<h2>My Credit Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Status</th>
            <th>Request Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.RequestedAmount</td>
                <td>@request.Status</td>
                <td>@request.DesiredRepaymentTerm</td>
            </tr>
        }
    </tbody>
</table>
